
.Menu_Menu_td_Edit_Base_Rules{
	text-align:center;

}

.Menu_Menu_td_Create_Rule{
	text-align:center;

}

.Menu_Menu_td_Edit_Rules{
	text-align:center;

}

.Menu_Menu_td_Exit{
	text-align:center;

}

.Step1_Edit_td_Back{
	text-align:center;

}

.Step1_Edit_td_Modify{
	text-align:center;

}

.widget_Step1_Edit_Lista{

}

.input_Step1_Edit_Lista{

}

.label_Step1_Edit_Lista{

}

.table_Step1_Edit_Lista{

}

.table_cells_Step1_Edit_Lista{

}

.table_headers_Step1_Edit_Lista{
	font-weight : bold;

}

.Step2_List_Rules_td_Back{
	text-align:center;

}

.widget_Step2_List_Rules_Rules{

}

.input_Step2_List_Rules_Rules{

}

.label_Step2_List_Rules_Rules{

}

.table_Step2_List_Rules_Rules{

}

.table_cells_Step2_List_Rules_Rules{

}

.table_headers_Step2_List_Rules_Rules{
	font-weight : bold;

}

.Step2_List_Rules_td_Delete{
	text-align:center;

}

.Step2_List_Rules_td_Edit{
	text-align:center;

}

.Step3_Create_Rule_td_Create{
	text-align:center;

}

.Step3_Create_Rule_td_Back{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_Back{
	text-align:center;

}

.widget_Edit_Rule_Edit_Rule_RuleUUID{

}

.input_Edit_Rule_Edit_Rule_RuleUUID{

}

.label_Edit_Rule_Edit_Rule_RuleUUID{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_RuleUUID{

}

.table_cells_Edit_Rule_Edit_Rule_RuleUUID{

}

.table_headers_Edit_Rule_Edit_Rule_RuleUUID{

}

.widget_Edit_Rule_Edit_Rule_Users{

}

.input_Edit_Rule_Edit_Rule_Users{
	font-weight : bold;

}

.label_Edit_Rule_Edit_Rule_Users{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Users{

}

.table_cells_Edit_Rule_Edit_Rule_Users{

}

.table_headers_Edit_Rule_Edit_Rule_Users{

}

.widget_Edit_Rule_Edit_Rule_Roles{

}

.input_Edit_Rule_Edit_Rule_Roles{
	font-weight : bold;

}

.label_Edit_Rule_Edit_Rule_Roles{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Roles{

}

.table_cells_Edit_Rule_Edit_Rule_Roles{

}

.table_headers_Edit_Rule_Edit_Rule_Roles{

}

.widget_Edit_Rule_Edit_Rule_Groups{

}

.input_Edit_Rule_Edit_Rule_Groups{
	font-weight : bold;

}

.label_Edit_Rule_Edit_Rule_Groups{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Groups{

}

.table_cells_Edit_Rule_Edit_Rule_Groups{

}

.table_headers_Edit_Rule_Edit_Rule_Groups{

}

.widget_Edit_Rule_Edit_Rule_Memberships{

}

.input_Edit_Rule_Edit_Rule_Memberships{
	font-weight : bold;

}

.label_Edit_Rule_Edit_Rule_Memberships{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Memberships{

}

.table_cells_Edit_Rule_Edit_Rule_Memberships{

}

.table_headers_Edit_Rule_Edit_Rule_Memberships{

}

.widget_Edit_Rule_Edit_Rule_Entities{

}

.input_Edit_Rule_Edit_Rule_Entities{
	font-weight : bold;

}

.label_Edit_Rule_Edit_Rule_Entities{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Entities{

}

.table_cells_Edit_Rule_Edit_Rule_Entities{

}

.table_headers_Edit_Rule_Edit_Rule_Entities{

}

.widget_Edit_Rule_Edit_Rule_Rule_Info{

}

.input_Edit_Rule_Edit_Rule_Rule_Info{
	font-weight : bold;

}

.label_Edit_Rule_Edit_Rule_Rule_Info{

}

.table_Edit_Rule_Edit_Rule_Rule_Info{

}

.table_cells_Edit_Rule_Edit_Rule_Rule_Info{

}

.table_headers_Edit_Rule_Edit_Rule_Rule_Info{

}

.widget_Edit_Rule_Edit_Rule_Rule_Name{

}

.input_Edit_Rule_Edit_Rule_Rule_Name{

}

.label_Edit_Rule_Edit_Rule_Rule_Name{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Rule_Name{

}

.table_cells_Edit_Rule_Edit_Rule_Rule_Name{

}

.table_headers_Edit_Rule_Edit_Rule_Rule_Name{

}

.widget_Edit_Rule_Edit_Rule_Rule_Label{

}

.input_Edit_Rule_Edit_Rule_Rule_Label{

}

.label_Edit_Rule_Edit_Rule_Rule_Label{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Rule_Label{

}

.table_cells_Edit_Rule_Edit_Rule_Rule_Label{

}

.table_headers_Edit_Rule_Edit_Rule_Rule_Label{

}

.widget_Edit_Rule_Edit_Rule_RuleType{

}

.input_Edit_Rule_Edit_Rule_RuleType{

}

.label_Edit_Rule_Edit_Rule_RuleType{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_RuleType{

}

.table_cells_Edit_Rule_Edit_Rule_RuleType{

}

.table_headers_Edit_Rule_Edit_Rule_RuleType{

}

.Edit_Rule_Edit_Rule_td_AddNewUser{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_RemoveSelecteduser{
	text-align:center;

}

.widget_Edit_Rule_Edit_Rule_Exceptions{

}

.input_Edit_Rule_Edit_Rule_Exceptions{
	font-weight : bold;

}

.label_Edit_Rule_Edit_Rule_Exceptions{
	font-weight : bold;

}

.table_Edit_Rule_Edit_Rule_Exceptions{

}

.table_cells_Edit_Rule_Edit_Rule_Exceptions{

}

.table_headers_Edit_Rule_Edit_Rule_Exceptions{

}

.Edit_Rule_Edit_Rule_td_AddNewException{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_RemoveSelectedException{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_AddNewRole{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_RemoveSelectedRole{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_AddNewGroup{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_RemoveSelectedGroup{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_AddNewMembership{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_RemoveSelectedMembership{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_AddNewEntity{
	text-align:center;

}

.Edit_Rule_Edit_Rule_td_RemoveSelectedEntity{
	text-align:center;

}
